<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<app-header-suranim [personalData]="suranimPersonal"></app-header-suranim>

<mat-tab-group mat-stretch-tabs [style]="{textAlign: 'center'}">
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="material-icons">fact_check</span>
      Directives / {{ suranimPersonal.LoginSheridansuranim }} ({{ suranimPersonal.IDSheridansuranim }})
    </ng-template>
    <app-suranim-directives [personalData]="suranimPersonal"></app-suranim-directives>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <span class="material-icons">menu_book</span>
      My Book List / {{ suranimPersonal.LoginSheridansuranim }} ({{ suranimPersonal.IDSheridansuranim }})
    </ng-template>
    <app-suranim-books [personalData]="suranimPersonal"></app-suranim-books> 
  </mat-tab>
</mat-tab-group>
