<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" routerLink="/tabs/tab1">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Add</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab2" routerLink="/tabs/tab2">
      <ion-icon name="list"></ion-icon>
      <ion-label>Items</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3" routerLink="/tabs/tab3">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Auth</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
